{% extends "_layouts/auth.njk" %}

{% block body %}

  <img src="/images/logo.svg" height="70" alt="">
  <h1>Tela de Login Fruit Stand</h1>

  <form action="/signin" method="post">

  <h3 style="margin-bottom:10px">Entre com seu usuário e senha</h3>


    <input type="text" name="username" placeholder="Insira seu username">
    <input type="password" name="password" placeholder="Insira sua senha">
    <div id="caps"></div>

    <button type="submit">Entrar</button>

  </form>

  <script type="text/javascript">
    document.addEventListener('keydown', function( event ) {
      var flag = event.getModifierState && event.getModifierState('CapsLock');
      if(flag) {
        document.getElementById('caps').innerHTML = 'CapsLock ligado';
      } else {
        document.getElementById('caps').innerHTML = '';
      }
    });
  </script>

{% endblock %}
