{% extends "_layouts/auth.njk" %}

{% block body %}
  <h1>Fruit Stand Login</h1>

  <img src="/images/logo.svg" height="70" alt="">

  <form action="/signin" method="post">


    <input type="text" name="username" placeholder="Insira seu username">
    <input type="password" name="password" placeholder="Insira sua senha">

    <button type="submit">Entrar</button>

  </form>

{% endblock %}
