{% extends "_layouts/default.njk" %}

{% block body %}

  <h1>Olá administrador, {{user.name}}</h1>

  <form action="/app/admin/dashboard/register" method="post" enctype="multipart/form-data">

    <h3>Registrar uma nova fruta</h3>

    <label for="image">
      <img src="/images/default.svg" height="70">
    </label>

    <input type="file" name="image" id="image" >

    <label for="fruit">
      <strong>Nome da fruta</strong>

      <input type="text" name="fruit" id="fruit" placeholder="Ex: Melancia">
    </label>

    <strong>Classificação da fruta</strong>
    <div>
      <label for="extra">
        <input type="radio" name="classification" id="extra" value="0">
      Extra
      </label>
      <label for="first">
        <input type="radio" name="classification" id="first" value="1">
      De primeira
      </label>
      <label for="second">
        <input type="radio" name="classification" id="second" value="2">
      De segunda
      </label>
      <label for="third">
        <input type="radio" name="classification" id="third" value="3">
      De terceira
      </label>
    </div>


    <label for="fresh">
      <strong>Fruta fresca?</strong>
      <input type="checkbox" name="fresh" value="1" id="fresh"/>
    </label>

    <label for="amount">
      <strong>Quantidade</strong>
      <input type="number" name="amount" id="amount" />
    </label>
    <label for="price">
     <strong>Valor de venda</strong><br>
      <strong>R$</strong> <input type="number" min="0.01" step="0.01" value="0.0" name="price" id="price"/>
    </label>

    <button type="submit">Cadastrar fruta</button>

  <a href="/app/seller/dashboard" class="redirect">Ver frutas a venda</a>
  <a href="/logout">Sair</a>

  </form>

  <script type="text/javascript" >
    const avatarInput = document.getElementById("image");
    const imgAvatar = document.querySelector("label[for=image] img")
    avatarInput.onchange = function(e){
      imgAvatar.classList.add('preview');
      imgAvatar.src = URL.createObjectURL(e.target.files[0])
    }
  </script>

{% endblock %}
