{% extends "_layouts/default.njk" %}

{% block body %}

  <h1>Bem-vindo, {{user.name}}</h1>

  {% if alert %}

  <span class="alert">{{alert}}</span>

  {% endif %}

  <input type="search" name="search" id="search" placeholder="Pesquise uma fruta">

  <strong style="color:white">Total de itens filtrados: {{total}}</strong>
  <div class="sales">

    {% for doc in docs %}

    {% if doc.amount > 0 %}

      <ul>
        <li><img src="/images/{{doc.image}}" height="100"></li>
        <li><strong>Fruta:</strong> {{doc.fruit}}</li>
        <li><strong>Quantidade:</strong> {{doc.amount}}</li>
        <li><strong>Preço:</strong> {{doc.price}}</li>
        <li><strong>Classificação:</strong> {{doc.classification}}</li>
        <li style="border-bottom:1px black solid; padding-bottom:10px; margin-bottom:10px"><strong>Fresca?</strong> {% if doc.fresh === true %}Sim{% endif %} {% if doc.fresh === false %}Não{% endif %}</li>

        {% if user.admin === false %}
        <form action="/app/seller/dashboard/sold/{{doc.id}}" method="post" class="sale">

        <li><strong>Quantos? <input type="number" name="amount" /></strong></li>

          <div>
          <strong>Desconto:</strong> <br>
          <label for="5-{{doc.id}}">
            <input type="radio" name="discount" id="5-{{doc.id}}" value="5">
          5%
          </label>
          <label for="10-{{doc.id}}">
            <input type="radio" name="discount" id="10-{{doc.id}}" value="10">
          10%
          </label>
          <label for="15-{{doc.id}}">
            <input type="radio" name="discount" id="15-{{doc.id}}" value="15">
          15%
          </label>
          <label for="20-{{doc.id}}">
            <input type="radio" name="discount" id="20-{{doc.id}}" value="20">
          20%
          </label>
          <label for="25-{{doc.id}}">
            <input type="radio" name="discount" id="25-{{doc.id}}" value="25">
          25%
          </label>
        </div>
          <button type="submit">Vender</button>
        </form>
        {% endif %}

      </ul>

      {% endif %}

    {% endfor %}



  </div>
  <strong style="color:white">Página: {{pages}}</strong>

    {% if user.admin === true %}
      <a href="/app/admin/dashboard" class="redirect">Voltar ao Dashboard de admin</a>
    {% endif %}
    {% if user.admin ===false %}
      <a href="/app/seller/dashboard/reports" class="redirect">Ver meu relatório de vendas</a>
    {% endif %}
  <a href="/logout">Sair</a>

{% endblock %}
